<!-- end tr -->
<!-- 1 Column Text + Button : END -->
<tr>
	<td class="td-help">
		<h4 class="text-help">
			Butuh bantuan? hubungi kami:
			<a href="tel::<%= cs_phone %>"><%= cs_phone %></a> <br>
			<a href="mailto:<%= cs_mail %>"><%= cs_mail %></a>
		</h4>
	</td>
</tr>
</table>
<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" class="tbl-footer">
	<tr>
		<td valign="middle" class="bg_muted footer email-section">
			<table>
				<tr>
					<td valign="center" style="">
						<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
							<tr>
								<td class="td-footer">
									<img src="<%= asset %>/img/logo_footer.png" width="140px" alt="">
									<p class="text-address">
										<%= cs_addr %>
									</p>
									<a href="https://www.instagram.com/bonceng.id/">
										<img src="<%= asset %>/img/instagram_ico.png" width="32px" alt="">
									</a>
									<a href="https://twitter.com/Boncengid">
										<img src="<%= asset %>/img/twitter_ico.png" width="32px" alt="" style="margin: 0 1.25rem">
									</a>
									<a href="https://www.facebook.com/Boncengid-439789016427052/">
										<img src="<%= asset %>/img/facebook_ico.png" width="32px" alt="">
									</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</div>
</center>
</body>

</html>